/*
#133C55
#386FA4
#59A5D8
#84D2F6
#91E5F6
*/
body {
  background-color: #133C55;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  height: 200px;
  background-color: #1db954;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

h1 {
  margin: 0;
  letter-spacing: 5px;
  font-family: serif;
  margin-top: 20px;
  display: inline-block;
}

main {
  display: flex;
  height: 700px;
  background-color: #ffe3bd;
}

.main-container {
  width: 50%;
  border: 1px solid black;
}
