* {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  margin: 0;
  border: 1px solid black;
  background-image: linear-gradient(#140a25, #5a142a);
}
main {
  display: flex;
}

main h1 {
  font-size: 40px;
   position: relative;
  z-index: 1;
  top: 190px;
  right: 160px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  margin: auto;
  transform: rotate(-90deg);
  text-align: center;
  color: #d9868a;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.show-music-video {
  position: absolute;
  /* transform: rotate(-10deg); */
  z-index: 2;
  top: 20%;
  left: 10%;
  display: flex;
  display: none;
  flex-direction: column;
  min-width: 400px;
  min-height: 320px;
  transition: .4s ease;
  animation: music 10s linear 2s infinite alternate;
  /* background-color: #d9868a; */
  border: 3px solid #ea6169;
  border-radius: 20px;
  background-image: linear-gradient(#140a25, #5a142a);
  box-shadow: 50px 50px black;
}

/* @keyframes music {
  0%   {left:15px; top:50px; transform: rotate(360deg);}
  25%  {left:600px; top:50px;}
  50%  {left:700px; top:200px;}
  75%  {left:1000px; top:200px;}
  100% {left:400px; top:40px; transform: rotate(90deg);}
} */
.show-music-video label {
  margin: 0 auto;
  padding: 5px;
  color: #d9868a;
}

.show-music-video input {
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  color: #fffafa;
  border: 1px solid #ea6169;
  border-radius: 10px;
  background-color: #d9868a;
  outline:none;
}

.show-music-video>input::placeholder {
  color: #fffafa;
}

.show-music-video h2 {
  margin: 0 auto;
  padding: 20px;
}

#music {
  margin: 0 auto;
  margin-top: 25px;
}

@media(max-width:600px) {
  main h1 {
    left:0px;
  }

  input {
    font-size: 16px;
  }
}

h2 {
  margin: 0;
  color: #fffafa;
}

main {
  /* opacity: 0.8; */
  display: flex;
  flex-direction: column;
  margin: auto;
}

.playlist-text {
  position: absolute;
  top: 70px;
  left: 70%;
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
  width: 240px;
  height: 240px;
  padding: 50px;
  transform: rotate(20deg);
  text-align: center;
  color: #fffafa;
  border-radius: 40%;
  background-image: linear-gradient(#140a25, #ea6169);
  box-shadow: 5px 5px #140a25;
  box-shadow: 0 8px 6px -6px black;
}

#speakerPic {
  position: relative;
  top: 20px;
  width: 300px;
  /* left: 40%;  */
  height: 300px;
  margin: 0 auto;
  padding: 20px;
}

.title-artist-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  letter-spacing: 5px;
  color: white;
  outline: none;
}

.input-music {
  width: 160px;
  margin: 10px;
  padding: 8px;
  color: #fffafa;
  border: 3px solid #ea6169;
  border-radius: 10px;
  outline: none;
  background-color: #d9868a;
}

.line::after {
  display: table;
  clear: both;
  content: '';
}

.delete,
.getLyrics {
  font-size: 18px;
  float: right;
  justify-content: center;
  margin: 0 auto;
  transition: 1s ease;
  letter-spacing: 1px;
  outline: none;
}

.delete:after,
.getLyrics::after {
  content: '';
  text-align: center;
}

.input-music::placeholder {
  color: #fffafa;
}

label {
  color: #d9868a;
}

.bottom-arrow {
  /* border-bottom: 3px solid #ea6169;    */
}

.bottom-arrow::after {
  position: absolute;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
  content: '';
  border-top: 25px solid #ea6169;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
}

.music-output {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
  margin: 22px;
  transition: 2s ease;
  border-bottom: 5px solid #ea6169;
}

.output {
  width: 50%;
  border-right: 1px solid #ea6169;
}

#output-list {
  /* overflow: scroll; */
  min-height: 280px;
  margin: 20px;
  padding: 20px;
  color: #fffafa;
  border: inset 1px solid black;
  border-radius: 20px;
}

#output-list {
  list-style-type: none;
}

.getLyrics {
  /* float: right; */
  /* margin-left: 400px; */
}

.lyric-container {
  width: 50%;
  height: auto;
  border-left: 1px solid #ea6169;
}

#output-lyrics {
  /* overflow: scroll; */
  min-height: 280px;
  margin: 20px;
  padding: 20px;
  color: #fffafa;
  border: inset 1px solid black;
  border-radius: 20px;
}

.crossDelete {
  font-size: 50px;
  position: absolute;
  top: 60%;
  right: 10%;
  display: inline-block;
  float: right;
  overflow: hidden;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all .3s ease-out;
  transform: rotate(-90deg);
  color: #fffafa;
  border: none;
  outline: none;
  background-color: inherit;
}

.crossDelete::before {
  font-weight: 300px;
  width: 200px;
  height: 200px;
  content: '';
  color: #fffafa;
}

.crossDelete::after {
  content: '';
  ;
}

.crossDelete:hover {
  color: #d9868a;
}

pre {
  margin: 20px;
  padding: 20px;
  white-space: pre;
  color: #fffafa;
}

.errorMessage {
  position: absolute;
  top: 80%;
  left: 60%;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 100px;
  padding: 20px;
  color: #fffafa;
  border: 2px solid #ea6169;
  border-radius: 20px;
  background-color: #d9868a;
}

footer {
  display: flex;
  align-items: center;
  flex-flow: nowrap;
  justify-content: center;
  height: 100px;
  margin: 0 auto;
  margin: 30px;
  padding: 50px;
  transition: 1s ease;
}

#back-to-top {
  position: relative;
  bottom: 0;
  /* display: inline-block; */
  text-align: center;
  /* left:44%; */
}

