body {
  background: #191919;
  height: 800px;
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  color: #36deaf;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 32%;
  right: 30%;
  margin: 60px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  outline: none;
  letter-spacing: 4px;
  font-size: 0.8em;
}

h1 {
  color: #ff6856;
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

input[type="user"], input[type="password"] {
  width: 80%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #005d57;
  outline: none;
  /* opacity: 0.6;
        cursor: not-allowed;*/
  border: none;
  color: #fffafa;
}

#submit {
  text-decoration: none;
  font-size: 1.2em;
  outline: none;
  padding: 10px;
}

.sami-thumbnail-div img {
  width: 25%;
}
